"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "NBossard"
email = "nicolas.bossard@orange.com"

[ui]
editor = "nvim"
paginate = "never"
# diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]

[aliases]
# jj log --limit 15
l = ["log","--limit", "14"]

[gg.queries]
# Number of commits to load per call
log-page-size = 1000

# Some query settings will default to false instead of true if a repo has this many commits.
large-repo-heuristic = 100000

# Take a snapshot when the window gains focus; slow in large checkouts.
# When disabled, snapshots will still be created if you run commands.
# auto-snapshot =

[gg.ui]
# Stores a list of recently opened directories for shell integration
recent-workspaces = ["/Users/nbossard/obsperso"]

# When set, bookmarks that are local-only or remote-only will be visually indicated.
mark-unpushed-bookmarks = true

# "light" or "dark". If not set, your OS settings will be used.
# theme-override = "dark"


# voir doc : https://jj-vcs.github.io/jj/latest/config/#setting-up-a-custom-merge-tools
[merge-tools.bcomp]
merge-args = ["$base", "$left", "$rigt", "-o", "$output", "--auto"]

[merge-tools.nvim]
merge-args = ["-f", "-d", "$output", "-M",
    "$left", "$base", "$right",
    "-c", "wincmd J", "-c", "set modifiable",
    "-c", "set write"]
program = "nvim"
merge-tool-edits-conflict-markers = true

